.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide-wal
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide
.vs/Guaranteed_Income/v15/.suo
Guaranteed_Income/bin/Debug/netcoreapp2.0/Guaranteed_Income.dll
Guaranteed_Income/bin/Debug/netcoreapp2.0/Guaranteed_Income.pdb
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.dll
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.pdb
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.csproj.CoreCompileInputs.cache
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.csprojAssemblyReference.cache
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide-wal
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.csproj.CoreCompileInputs.cache
.vs/Guaranteed_Income/DesignTimeBuild/.dtbcache
.vs/Guaranteed_Income/v15/.suo
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide-shm
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide-wal
.vs/Guaranteed_Income/v15/.suo
.vs/Guaranteed_Income/v15/.suo
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide-shm
.vs/Guaranteed_Income/v15/Server/sqlite3/storage.ide-wal
.vs/annuity/v15/.suo
Guaranteed_Income/obj/Guaranteed_Income.csproj.nuget.cache
Guaranteed_Income/obj/Guaranteed_Income.csproj.nuget.g.props
Guaranteed_Income/obj/project.assets.json
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.csproj.CoreCompileInputs.cache
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.csproj.FileListAbsolute.txt
Guaranteed_Income/obj/Debug/netcoreapp2.0/Guaranteed_Income.csprojAssemblyReference.cache
.vs/Guaranteed_Income/v15/.suo
*.suo
*storage.ide
*.dll
*.ide-wal
*.cache
*.ide*
*.ide-shm
*.dtbcache
*.prop
*.lock