/* font-family: 'Fjalla One', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Archivo Black', sans-serif; */


/* INPUT FIELDS */
.section {
  font-family: 'Archivo Black', sans-serif;
}

.modal {
  background-image: url(./img/bg-cta.jpg);
}

.inputSideBar {
  position:relative;
  border:0;
  background: transparent;
  align-content: center;
  text-align: center;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
.footer {
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}




